{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	<h1>Editer un produit</h1>

	<form action="{{path("tbs_edit_product", { id: product.PId}) }}" method="post" enctype="multipart/form-data">
		{{form_widget(form)}}
		<input type="submit">
	</form>

{% endblock %}