{% extends "::base.html.twig" %}

{% block body %}
	
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3"><a href="{{ path('tbs_add_product') }}">Ajout d'un produit</a></div>
	</div>
	

{% endblock body %}