{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	<h1>Tous les produits</h1>

	<table class="widetable">
	<tr>
		<th>Libell&eacute;</th>
		<th>Quantit&eacute; unitaire</th>
		<th>Actions</th>
	</tr>
		{% for product in products %}
		<tr>
			<td>{{product.PName}}</td>
			<td>{{product.PUnit}}</td>
			<td><a href="{{ path("tbs_edit_product", { id: product.PId}) }}"><span class="glyphicon glyphicon-pencil useraction"></span></a>
			<a href="{{ path("tbs_delete_product", { id: product.PId}) }}"><span class="glyphicon glyphicon-remove useraction"></span></a>
			</tr>
		{% endfor %}
	</table>

{% endblock %}