{% extends "::base.html.twig" %}
{% block body %}
<h1>Tous les utilisateurs</h1>

{% for product in products %}
		<article>
			<header>
				<h2>{{product.PName}} {{product.PUnit}} <a href="{{ path("tbs_edit_product", { id: product.PId}) }}">Modifier</a></h2>
			</header>
		</article>
{% endfor %}

{% endblock %}