{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	<div class="maincontent">
		<h1>Passer une commande</h1>

		<form action="{{path("tbs_add_basket", { id: app.user.id}) }}" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">
					Etage:
				</div>
				<div class="col-lg-3">
					{{ form_widget(form.bFloor) }}
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-lg-3 col-lg-offset-3">
					Salle:
				</div>
				<div class="col-lg-3">
					{{ form_widget(form.bRoom) }}
				</div>
			</div>
			{{form_rest(form)}}
			<br>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3" >
					<input type="submit">
				</div>
			</div>
		</form>
	</div>

{% endblock %}

