{% extends "::base.html.twig" %}
{% block body %}
<h1>Passer une commande</h1>

<form action="{{path("tbs_edit_stock", { id: stock.SId}) }}" method="post" enctype="multipart/form-data">
	{{form_widget(form)}}


	<input type="submit">

</form>
{% endblock %}