{% extends "::base.html.twig" %}

{% block body %}
	
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3"><a href="{{ path('tbs_add_stock') }}">Ajout d'un stock</a></div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3"><a href="{{ path('tbs_stocks') }}">Modifier un stock</a></div>
	</div>	

{% endblock body %}