{% extends "::base.html.twig" %}
{% block body %}
<h1>Tous les utilisateurs</h1>

{% for stock in stocks %}
		<article>
			<header>
				<h2>{{stock.SName}} {{stock.STotal}} 	<a href="{{ path("tbs_edit_stock", { id: stock.SId}) }}">Modifier</a></h2>
			</header>
		</article>
{% endfor %}

{% endblock %}