{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	<h1>Les stocks</h1>

	<table>
		<tr>
			<th>Libell&eacute;</th>
			<th>Quantit&eacute; unitaire</th>
			<th>Actions</th>
		</tr>
		{% for stock in stocks %}
			<tr>
				<article>
					<header>
						<td>{{stock.SName}}</td>
						<td>{{stock.STotal}}</td>
						<td><a href="{{ path("tbs_edit_stock", { id: stock.SId}) }}"><span class="glyphicon glyphicon-pencil useraction"></span></a><a href="{{ path("tbs_delete_stock", { id: stock.SId}) }}"><span class="glyphicon glyphicon-remove useraction"></span></a></td>
					</header>
				</article>
			</tr>
		{% endfor %}
	</table>

{% endblock %}