/* Police d'Extia */

@font-face {
    font-family: "extia";
    src: url("../fonts/GothamRnd-Medium.otf");
}

@font-face {
    font-family: "extia";
    font-style: italic;
    src: url("../fonts/GothamRnd-MedIta.otf");
}

@font-face {
    font-family: "extia";
    font-weight: bold;
    src: url("../fonts/GothamRnd-Bold.otf");
}

@font-face {
    font-family: "extia";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/GothamRnd-BoldIta.otf");
}

/* Dimensionnement général */

html,body {
  width: 100%;
  height: 100%;
  width: auto !important;
  overflow-x:hidden !important;
  background-color: #394147;
  font-family: "extia";
  font-size: 100%;
  margin:0px;

}

[class*="col-"] {
  font-family: Calibri;
  text-align: center;
  padding:0px;
}

/* Titre principal */

h1 {
	font-weight: bold;
	color: #F26e27;
}

.register {
	font-weight: bold;
	color: #394147;
}

.bandeau {
	border: solid black 3px;
	border-bottom: solid black 8px;
	border-radius: 50px;
	background-color: #F26e27;
	margin-top : 2%;
}

.mainpic {
	width: 100%;
}

/* Gestion des liens */

a:link {
	text-decoration: none;
	text-align: center;
	color: white;
}

a:visited {
	text-decoration: none;
	text-align: center;
	color: white;
}

a:hover:link {
	text-decoration: none;
	text-align: center;
	color: #F26e27;
}

a:hover:visited {
	text-decoration: none;
	text-align: center;
	color: #F26e27;
}

/* Boutons edit, delete */

.useraction {
	color: black;
	font-weight: bold;
}

.useraction:hover {
	color: #F26e27;
}

/* Zone du milieu */

.midzone {
	margin-top: 2%;
}

/* Menu */

li {
	line-height: 30px;
	list-style-type:none;
	font-size: 1.5em;
}

/* Zone principale */

.mainzone {
	padding-top: 20px;
	background-color: white;
	border: solid black 3px;
	border-bottom: solid black 8px;
	border-radius: 50px;
	color: #22313F;
	padding-bottom: 30px;
}

.mainzone table {
	color: #22313F;
}

.subzone {
}


/* Zone des options */

.topoption {
	font-size: 200%;
	margin-top: 10%;
	margin-bottom: 60px;
	margin-left: 100px;
	margin-right: 100px;
}

.leftoption {
	font-size: 200%;
	margin-top: 10%;
	margin-bottom: 60px;
	margin-left: 50px;
	margin-right: 50px;
}

.topoption:hover {
	color: #F26e27;
}

input {
	color:black;
}

/* Liens index */

h3 {
	text-align: center;
}


/* Tableaux */

table {
	line-height: 30px;
	text-align: center;
	margin: auto;
	border: solid black 1px;
}

.widetable th, .widetable td {
	width: 20%;
	text-align: center;
}

/* Centrer */

.center_h {
	text-align: center;
}

.btn {
	border-radius:50%;
	width:20px;
	height:20px;
	border: none;
	font: 18px Tahoma bold;
	color: red;
	background-color: white;
}

#btn1{
	position:absolute;
	top:28.5%;
	left:23%;
}

#btn2{
	position:absolute;
	top:28.5%;
	left:45%;
}

#btn3{
	position:absolute;
	top:55%;
	left:26%;
}

.test:hover{
	color:red;
}