/* Police d'Extia */

@font-face {
    font-family: "extia";
    src: url("../fonts/GothamRnd-Medium.otf");
}

@font-face {
    font-family: "extia";
    font-style: italic;
    src: url("../fonts/GothamRnd-MedIta.otf");
}

@font-face {
    font-family: "extia";
    font-weight: bold;
    src: url("../fonts/GothamRnd-Bold.otf");
}

@font-face {
    font-family: "extia";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/GothamRnd-BoldIta.otf");
}

/* Dimensionnement général */

html,body {
  width: 100%;
  height: 100%;
  width: auto !important;
  overflow-x:hidden !important;
  background-color: #394147;
  font-family: "extia";
  font-size: 100%;
}

[class*="col-"] {
  font-family: Calibri;
  text-align: center;
}

/* Titre principal */

h1 {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 100px;
	color: #F26e27;
}

.register {
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #394147;
}

.bandeau {
	border: solid black 3px;
	border-bottom: solid black 8px;
	border-radius: 50px;
	background-color: #F26e27;
	margin-top : 2%;
}

.mainpic {
	width: 100%;
}

/* Gestion des liens */

a:link {
	text-decoration: none;
	text-align: center;
	color: white;
}

a:visited {
	text-decoration: none;
	text-align: center;
	color: white;
}

a:hover:link {
	text-decoration: none;
	text-align: center;
	color: #F26e27;
}

a:hover:visited {
	text-decoration: none;
	text-align: center;
	color: #F26e27;
}

/* Boutons edit, delete */

.useraction {
	color: black;
	font-weight: bold;
}

.useraction:hover {
	color: #F26e27;
}

/* Zone du milieu */

.midzone {
	margin-top: 2%;
}

/* Menu */

li {
	line-height: 30px;
	list-style-type:none;
	font-size: 1.5em;
}

/* Zone principale */

.mainzone {
	background-color: white;
	border: solid black 3px;
	border-bottom: solid black 8px;
	border-radius: 50px;
	height: 60%;
	color: #22313F;
}

.mainzone table {
	color: #22313F;
}

.subzone {
	overflow:auto;
	max-height: 90%;
	margin-top: 2.5%;
}


/* Zone des options */

.topoption {
	font-size: 200%;
	margin-top: 10%;
	margin-bottom: 60px;
	margin-left: 100px;
	margin-right: 100px;
}	

.topoption:hover {
	color: #F26e27;
}

input {
	color:black;
}

/* Liens index */

h3 {
	text-align: center;
}


/* Tableaux */

table {
	border: solid white 1px;
	line-height: 30px;
	text-align: center;
	margin: auto;
	border: solid black 1px;
}

th, td {
	border: solid black 1px;
	width: 1%;
	text-align: center;
}

/* Centrer */

.center_h {
	text-align: center;
}