{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	<h1>Ajouter un produit</h1>

	<form action="{{path("tbs_add_orderline", { id: basket.BId}) }}" method="post" enctype="multipart/form-data">
		{{form_widget(form2)}}


	<input type="submit" value = "Ajouter un autre produit">
	<input type="submit" name="final" value ="Finaliser la commande">

	</form>

{% endblock %}