{% extends "FOSUserBundle::layout.html.twig" %}

{% block mainzone %}
<div class="row">
	<div class="col-lg-offset-4 col-lg-4">
		{% block fos_user_content %}
		{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
		{% endblock fos_user_content %}
	</div>
</div>
{% endblock %}