{% extends "FOSUserBundle::layout.html.twig" %}

{% block subzone %}
	
	<h1>Mon compte</h1>

	{% block fos_user_content %}
	<a class="useraction" href="{{ path("fos_user_change_password") }}">Changer le mot de passe</a>
	{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
	{% endblock fos_user_content %}

{% endblock %}