{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

		<h1>Tous les utilisateurs</h1>
		
		<table>
		{% for user in users %}
			<tr>
				<td>{{user.username}}</td>
				<td><a href="{{ path("tbs_delete_user", { id: user.id}) }}"><span class="glyphicon glyphicon-remove useraction"></span></a></td>
			</tr>
		{% endfor %}
		</table>

{% endblock %}