{% extends "TBSBundle::layout.html.twig" %}

{% block mainzone %}
<div class="col-lg-9 mainzone">
	{% for sentorder in sentorders %}
	<article>
		<header>
			<h3>Numéro de commmande: {{sentorder.bId}} <a href="{{ path('tbs_indexca', {id:sentorder.bId}) }}">Valider</a></h3> 
			<h3>Boisson: {{sentorder.pId}}</h3> 
			<h3>Quantité: {{sentorder.olQtt}} </h3>
		</header>
	</article>
	{% endfor %}
</div>

{% endblock mainzone %}