{% extends "TBSBundle::layout.html.twig" %}

{% block subzone %}

	{% if (app.user == 'ca') %}
		<h1>Les commandes</h1>
		{% for sentorder in sentorders %}
			Numéro de commmande: {{sentorder.bId}} <a href="{{ path('tbs_indexca', {id:sentorder.bId}) }}" class="useraction">Valider</a><br>
			Boisson: {{sentorder.pId}}<br>
			Quantité: {{sentorder.olQtt}}<br>
		{% endfor %}

	{% endif %}

{% endblock %}